body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

header {
  background-color: #1c1c1c;
  padding: 1rem 0;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.profile {
  text-align: center;
  padding: 2rem 0;
}

.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.profile h1 {
  margin: 0.5rem 0;
}

.profile p {
  margin: 0.5rem 0;
}

.profile button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  background-color: #ffc107;
  color: #000;
  cursor: pointer;
}

.profile button:hover {
  background-color: #ff9800;
  color: #fff;
}

.description {
  text-align: center;
  padding: 1rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.skills,
.portfolio-grid,
.experience-item,
.testimonial,
.contact {
  padding: 1rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill {
  background-color: #1c1c1c;
  padding: 1rem;
  border-radius: 8px;
  flex: 1 1 calc(33.333% - 1rem);
  text-align: center;
}

.skill img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 0.5rem;
}

.skill img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.skill img:hover {
  transform: scale(1.2);
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.portfolio-item {
  background-color: #1c1c1c;
  padding: 1rem;
  flex: 1 1 calc(33.333% - 1rem);
  border-radius: 8px;
  text-align: center;
}

.portfolio-item iframe {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.experience-item {
  background-color: #1c1c1c;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.contact {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-item i {
  font-size: 1.5rem;
  color: #ffc107;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-media a {
  color: #ffc107;
  font-size: 1.5rem;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #1c1c1c;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .skills-grid,
  .portfolio-grid {
    flex-direction: column;
  }

  .skill,
  .portfolio-item {
    flex: 1 1 100%;
  }

  .contact-info {
    flex-direction: column;
    gap: 1rem;
  }
}
